@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Mulish&family=Nunito+Sans:opsz,wght@6..12,300&family=Rubik+Glitch&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://media.istockphoto.com/id/1213678669/vector/seamless-pattern-of-throwing-square-academic-caps-with-tassel-vector-illustration.jpg?s=612x612&w=0&k=20&c=cJrPdGbpYQ1PLIIwkZOFByroIw5fmWsZfbW9B5tRQYM=');
  /* background-size: cover; */
  opacity: 0.07;
  z-index: -1;
}

.container {
    max-width: 350px;
    height: auto;
    margin: 300px;
    padding: 20px;
    background-image: linear-gradient(#26baee, #009bff);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 22vh;
}
.heading {
    text-align: center;
    margin: 20px 0 40px 0;
    color: #333;
    font-size: 3.8vh;
    font-weight: bold;
}

form {
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login {
    background-color: #515151;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 26px;
    cursor: pointer;
    margin: 20px 0 10px 0;
}
.login:hover {
    background-color: #676767;
}
.registercontent {
    text-align: center;
    font-size: 2vh;
}
.errormessage {
    color: red;
}